[package]
name = "hack-club-space-program"
version = "0.1.0"
edition = "2024"
publish = false

[features]
trace = []

[dependencies]
bevy = "0.17"
bevy_rapier2d = "0.32.0"
derive_more = { version = "2.1.1", features = ["is_variant"] }
keplerian_sim = "0.7.3"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.release]
opt-level = "z"
lto = "thin"
strip = "debuginfo"
