(
    schema_version: 1,
    root_node: 10_u128,
    active_vessel: 97686811116225438784444555144741152896u128,
    celestials: {
        10_u128: (
            name: "The Sun",
            mass: 1.989e30f64,
            radius: 6.9634e8f64,
            // #fff3ea
            color: 0xfff3ea,
            celestial_children: [
                399_u128
            ]
        ),
        399_u128: (
            name: "Earth",
            mass: 5.972e24f64,
            radius: 6.371e6f64,
            // #9adaeb
            color: 0x9adaeb,
            orbit: (
                eccentricity: 0.0169383477558015596576f64,
                periapsis: 1.47116234025380615234e11f64,
                arg_pe: 4.96966285450645450794f64,
                mean_anomaly: 4.61837973661737599684f64,
            ),
            celestial_children: [
                301_u128
            ],
            vessel_children: [
                97686811116225438784444555144741152896u128
            ]
        ),
        301_u128: (
            name: "Luna",
            mass: 7.342e22f64,
            radius: 1.7371e6f64,
            // #a19f9d
            color: 0xa19f9d,
            orbit: (
                eccentricity: 0.0640319437221805315419f64,
                periapsis: 3.56739122426563858986e8f64,
                arg_pe: 1.15833369565504473719f64,
                mean_anomaly: 3.42916122080155005847f64,
            ),
            vessel_children: [
                999999999999999999999999999999999999u128
            ]
        )
    },
    vessels: {
        97686811116225438784444555144741152896u128: (
            name: "Foo",
            rail: (
                rail_mode: "surface",
                inner: (
                    angle: 0f64,
                    radius: 6.371e6f64
                )
            )
        ),
        999999999999999999999999999999999999u128: (
            name: "Bar",
            rail: (
                rail_mode: "orbit",
                inner: (
                    eccentricity: 0f64,
                    periapsis: 2e6f64,
                    arg_pe: 0f64,
                    mean_anomaly: 0f64
                )
            )
        )
    }
)